.user-profile-setup, .user-roomate-preferences,.user-roomate-matches{
    border: 1px solid black;
    border-width: 1px;
    padding: 100px 100px 100px 100px;
    background-image: linear-gradient(150deg, rgb(106, 133, 136), rgb(219, 213, 110));
    


}
.user-profile-setup:hover,
.user-roomate-matches:hover,
.user-roomate-preferences:hover{
    text-decoration: underline;
    cursor: pointer;
}

.user-tab{
    border: 1px solid black;
    border-width: 1px;
    padding: 100px 100px 100px 100px;
    padding-left: 30%;
    background-image: linear-gradient(150deg, rgb(106, 133, 136), rgb(219, 213, 110));

}

body{
    background-color: whitesmoke;
    
}


*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.side-bar{
    position: fixed;
    left: -270px; /* Start offscreen */
    width: 270px;
    height: 100%;
    background: #042331;
    transition: all 0.5s ease;
}
.side-bar h1{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #042331;
    user-select: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.side-bar ul{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 20px;
    box-sizing: border-box;
    transition: 0.4s;
}
ul li:hover a{
    padding-left: 10px;
    background: #063146;
}
.side-bar ul li a{
    color: white;
    display: block;
    width: 100%;
    padding-left: 10px;
    transition: 0.4s;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
#check{
    display: none;
}

label #btn, label #cancel{
    position: fixed;
    cursor: pointer;
    background: #042331;
    border-radius: 3px;
}
label #btn{
    left: 0px;
    top: 17px;
    font-size: 20px;
    color: white;
    padding: 4px 6px;
    z-index: 1000;
    background: #042331;
}

label #cancel{
    z-index: 1111;
    left: 0px;
    top: 17px;
    font-size: 20px;
    color: white;
    padding: 4px 9px;
    display: none;
}

#check:checked ~ .side-bar{
    left: 0;
}

/* Show cancel button when sidebar is visible */
#check:checked ~ label #cancel{
    display: block;
}

#check:checked ~ label #btn{
    display: none;
}

/* Main content styling to adjust when sidebar is open */
.main-content {
    margin-left: 0;
    transition: all 0.5s ease;
}

#check:checked ~ .main-content {
    margin-left: 270px;
}