.user-profile-setup{
    border: 1px solid black;
    border-width: 100%;
    padding: 100px 100px 100px 100px;
    background-image: linear-gradient(150deg, rgb(106, 133, 136), rgb(219, 213, 110));
    


}
.user-profile-setup:hover,
.user-roomate-matches:hover,
.user-roomate-preferences:hover{
    text-decoration: underline;
    cursor: pointer;
}
.user-roomate-preferences{
    border: 1px solid black;
    border-width: 100%;
    padding: 100px;
    background-image: linear-gradient(150deg, rgb(106, 133, 136), rgb(219, 213, 110));



}
.user-roomate-matches{
    border: 1px solid black;
    border-width: 100%;
    padding: 100px;
    background-image: linear-gradient(150deg, rgb(106, 133, 136), rgb(219, 213, 110));


}
.user-tab{
    border: 1px solid black;
    border-width: 100%;
    padding: 100px 100px 100px 100px;
    padding-left: 30%;

}

body{
    background-color: whitesmoke;
    
}


*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.side-bar{
    position: fixed;
    left: 0;
    width: 300px;
    height: 100%;
    background: linear-gradient(150deg, rgb(106, 133, 136), rgb(219, 213, 110));
    color: white;
    transition: 0.4s;
    
}
.side-bar h1{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background-image: linear-gradient(150deg, rgb(106, 133, 136), rgb(219, 213, 110));
    user-select: none;
}
.side-bar ul{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgb(0, 0, 0);
    transition: 0.4s;
 
}
ul li:hover a{
    padding-left: 50px;

}
.sidebar ul a li{
    margin-right: 16px;
}


