.user-profile-setup{
    border: 1px solid black;
    border-width: 100%;
    padding: 100px 100px 100px 100px;
    background-image: linear-gradient(30deg, rgb(108, 108, 202), orange);
    


}
.user-profile-setup:hover,
.user-roomate-matches:hover,
.user-roomate-preferences:hover{
    text-decoration: underline;
    cursor: pointer;
}
.user-roomate-preferences{
    border: 1px solid black;
    border-width: 100%;
    padding: 100px;
    background-image: linear-gradient(30deg, blue, orange)



}
.user-roomate-matches{
    border: 1px solid black;
    border-width: 100%;
    padding: 100px;
    background-image: linear-gradient(30deg, blue, orange)


}
.user-tab{
    border: 1px solid black;
    border-width: 100%;
    padding: 100px 100px 100px 100px;
    padding-left: 30%;

}

body{
    background-color: whitesmoke;
    
}


*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.side-bar{
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    background:rgb(21, 21, 65);
}
.side-bar h1{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: rgb(21, 21, 65);
    user-select: none;
}
.side-bar ul{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgb(109, 30, 30);
    transition: 0.4s;

}
ul li:hover a{
    padding-left: 50px;
    


}



