body{
    margin: 2px;
    background-image: linear-gradient(150deg, rgb(106, 133, 136), rgb(219, 213, 110));
    
}
#top-header{
    background-color: rgb(246, 246, 246);
    color: black;
    padding: 50px;
    font-size: 50px;
    /* border-radius: 10px; */
    text-align: center;
    text-decoration: underline;
    border: 3px solid rgb(124, 152, 133);
    /* background-image: linear-gradient(30deg, rgb(92, 93, 53), rgb(255, 143, 7));
     */
  /* background-image: linear-gradient(150deg, rgb(55, 61, 32), rgb(113, 119, 68)); */
  background-color: rgb(241, 255, 231);

    
}


.login-container{
    padding-left: 30%;
    padding-top: 10%;
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    height: 100px
    
}
.login-container:hover{
    text-decoration: underline;
    cursor: pointer;
}
.login-input{
    /* border: 2px solid rgb(100, 28, 28); */
    padding: 10px;
    padding-bottom: 20px;
    width: 50%;
    padding-left: 50px;
    background-color: rgb(241, 255, 231);
    box-shadow: 6px 6px 3px 1px rgba(87, 54, 54, 0.9);
}
.user-name, .user-classYear, .user-email{
    font-size: 10px;
    width: 50%;
    font-family: system-ui, sans-serif;
    padding: 10px;
    font-weight: bold;
    color: black;
    border: 1.5px solid rgb(0, 0, 0);
    border-radius: 3px;
    background-color: rgb(241, 255, 231);


}
.submit-button:hover{
    background-color: rgb(180, 96, 40);
    color: white;
    cursor: pointer;
}

.submit-button{
    margin-bottom: 20px;
    text-align: center;
    font-size: 10px;
    color: white;
    width: 52%;
    height: 30px;
    border: 2px black;
    background-color: rgb(12, 12, 12);
    border-radius: 15px;
    font-weight: bold;
    
}




.user-classYear:hover, .user-email:hover, .user-name:hover{
    border-color: rgb(200, 133, 88);
}

