body {
    margin: 2px;
    background-image: linear-gradient(
        150deg,
        rgb(106, 133, 136),
        rgb(219, 213, 110)
    );
}

#top-header {
    background-color: rgb(246, 246, 246);
    color: black;
    padding: 50px;
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    border: 3px solid rgb(124, 152, 133);
    background-color: rgb(241, 255, 231);
}

.login-container {
    padding-left: 30%;
    padding-top: 10%;
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    height: 100px;
}
.login-container:hover {
    text-decoration: underline;
    cursor: pointer;
}
.login-input {
    padding: 10px 50px 20px 50px;
    width: 50%;
    background-color: rgb(241, 255, 231);
    box-shadow: 6px 6px 3px 1px rgba(87, 54, 54, 0.9);
}
.user-name,
.user-classYear,
.user-email,
.user-password {
    font-size: 10px;
    width: 50%;
    font-family: system-ui, sans-serif;
    padding: 10px;
    font-weight: bold;
    color: black;
    border: 1.5px solid rgb(0, 0, 0);
    border-radius: 3px;
    background-color: rgb(241, 255, 231);
}
.user-classYear:hover,
.user-email:hover,
.user-name:hover,
.user-password:hover {
    border-color: rgb(200, 133, 88);
}
.submit-button {
    margin-bottom: 20px;
    text-align: center;
    font-size: 10px;
    color: white;
    width: 52%;
    height: 30px;
    border: 2px black;
    background-color: rgb(12, 12, 12);
    border-radius: 15px;
    font-weight: bold;
}
.submit-button:hover {
    background-color: rgb(180, 96, 40);
    color: white;
    cursor: pointer;
}
